---
layout: default
---

<div class="comingsoon">

  <div class="background">
    <div class="illu-dahlia svg">{% include svg/illu-dahlia.html %}</div>
    <div class="illu-patate1 svg">{% include svg/illu-patate1.html %} </div>
    <div class="illu-points svg">{% include svg/illu-points.html %} </div>
    <div class="illu-grospoints svg">{% include svg/illu-grospoints.html %} </div>
    <div class="illu-points second svg">{% include svg/illu-points.html %} </div>
    <div class="illu-grospoints second svg">{% include svg/illu-grospoints.html %} </div>
    <div class="illu-patate2 svg">{% include svg/illu-patate2.html %} </div>
    <div class="illu-dahlia second svg">{% include svg/illu-dahlia.html %}</div>
  </div>

  <div class="content-box">
    <div class="content">
      <div class="pictolaklak svg">
        {% include svg/picto-laklak.html %}
      </div>

      <p>COMING <i>SOON!</i></p>
      <a class="button" href="http://www.laklakparis.etsy.com">Retrouvez&nbsp;mes&nbsp;créations sur&nbsp;ma&nbsp;boutique&nbsp;Etsy</a>

      <div class="social-links">
        <a href="https://www.facebook.com/LAKLAKparis/" class="svg">{% include svg/facebook-icon.html %}</a>
        <a href="https://www.instagram.com/laklak.paris/" class="svg">{% include svg/instagram-icon.html %}</a>
      </div>
    </div>
  </div>


</div>
