// SMALL // screens inferior to 667px wide ///////////////////////////////////

@media screen and (min-device-width:0px)and (max-device-width: 667px) {
	.header{
		padding: 15px 0;
		height: auto;
	}
	.comingsoon{
		.background{
			.illu-dahlia{
				max-width: 75%;
				top: 50px;
				left: -30px;
				&.second{
					top: 60%;
					left: 80%;
				}
			}
			.illu-patate1{
				@include size(auto, 80px);
				top: 40px;
				left: unset;
				right: -50px;
			}
			.illu-points{
			    max-width: 60%;
			    top: 25%;
			    right: -40%;
			    &.second{
			    	max-width: 50%;
			    	top: 75%;
			    	bottom: unset;
			    	left: 0;
			    }
			}
        	.illu-grospoints{
        		@include size(auto, 20px);
        		&.second{
        			width: 16px;
        			bottom: 20%;
        		}
        	}
        	.illu-patate2{
        		width:70px;
        		bottom: -10px;
        		right: 25%;
        	}
		}
		.content{
			margin-top: 100px;
			padding: 30px;
		}
	}

}


// MEDIUM // screens between  wide ///////////////////////////////////

@media screen and (min-device-width:667px)and (max-device-width: 1024px)and (orientation: portrait) {
	.comingsoon{
		.background{
			.illu-dahlia{
				max-width: 80%;
				top: 80px;
				&.second{
					top: 60%;
					left: 80%;
				}
			}
			.illu-patate1{
				@include size(auto, 100px);
				top: 70px;
				left: unset;
				right: -50px;
			}
			.illu-points{
			    max-width: 60%;
			    top: 25%;
			    right: -40%;
			    &.second{
			    	max-width: 50%;
			    	top: 75%;
			    	bottom: unset;
			    	left: 0;
			    }
			}
        	.illu-grospoints{
        		@include size(auto, 20px);
        		&.second{
        			width: 16px;
        			bottom: 20%;
        		}
        	}
        	.illu-patate2{
        		width:70px;
        		bottom: 1%;
        		right: 30%;
        	}
		}
		.content{
			margin-top: 40px;
		}
	}

}
